@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.container {
	background-color: rgb(193, 196, 211);
	font-family: 'Special Elite', cursive;
	height: 70%;
	width: 40%;
	border-radius: 20px;
	align-self: flex-end;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
	font-family: inherit;
	font-size: 1rem;
	text-align: center;
}

i {
	text-align: center;
}

.h3 {
	font-size: 1.25rem;
}

@media only screen and (max-width: 700px) {
	.container {
		align-self: center;
		width: 95%;
		padding: 0;
		order: 1;
	}
}
